<template>
  <div id="app">&nbsp;
    <div class="row spaced">
      <div class="menu col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <router-link to="/" class="clickable"><h1>Maud Gourdon</h1></router-link>
        <div 
          class="visible" 
          v-for="obj in menuOrder" 
          :key="getArticle(obj).id">
            <router-link 
              :to="'/article/' + getArticle(obj).id">
              {{ getArticle(obj).title }}
            </router-link>
          </div>
        <router-link class="about" to="/about"><h1>About</h1></router-link>
      </div>
      
      <div class="content col-sm-12 col-md-6 col-lg-8 col-xl-9">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue'
import { useStore } from 'vuex'
import { MaudArticle } from "./types/article"

const store = useStore();
const menuOrder = computed(() => store.state.MenuOrder);

function getArticle(id: number)  {
  return store.state.articles.find((art: MaudArticle) => art.id === id);
}
</script>

<style lang="scss">
* {
  font-family: 'OpenBaskerville0053Normal', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, a.back2top {
  font-family: 'Nova Script', Times, serif;
  font-size: 20px;
}

a, a:hover, a:visited, a:active {
    color: #000;
    text-decoration: none;
    &.underlined {
        text-decoration: underline;
    }
}

.spaced {
  margin: 30px 0 0 50px;
  box-sizing: border-box;
}
.menu {
  & div {
    line-height: 0px;
    transition: 0.2s;
    opacity: 0;
    &.visible {
      opacity: 1;
      line-height: 18px;
    }
  }
  & a, a:active, a:hover, a:visited {
    font-size: 16px;
    color: #000;
    text-decoration: none;
  }
}
.content {
  font-size: 16px;
}

.about {
  margin-top:  .5rem;
  cursor:pointer;
}
.clickable {
  cursor:pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 90%;
  background: #FFF;
}
.spacer-bottom {
  margin-bottom: 60px;
  height: 1px;
}

</style>
